# Application Configuration
NODE_ENV=development
PORT=3000

# Google OAuth Configuration

# NOTE TO SELF: 
# Get these from https://console.cloud.google.com
# NEW GOOGLE_CALLBACK_URL: Authorized redirect URI to add: http://localhost:3000/auth/google/callback
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# Session Configuration

# NOTE TO SELF:
# Use any long random string.
# Hopefully I'm getting this right, but... 
# run: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))" ?
SESSION_SECRET=your_super_secret_session_key_here

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your.email@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM=your.email@gmail.com

# DB Configuration
DATABASE_URL=postgresql://postgres:csc400@localhost:5432/postgres

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=csc400

# Kiosk API Configuration

# NOTE TO SELF:

# This is a shared secret between this server and the Raspberry Pi kiosk app.
# Must match CLOUD_API_KEY in kiosk/.env
# To generate a key... Should be the same as a session secret: 
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
KIOSK_API_KEY=your_kiosk_api_key_here


